body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

dt {
  overflow: hidden;
  text-overflow: ellipsis;
}

h1, h2, h3 {
  color: #3F3F3F;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

hr {
  color: #aaa;
}

h2:before {
  content: "";
  display: inline-block;
  margin-right: 1%;
  width: 16%;
  height: 12px;
  background-color: #aaa;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 7px;
}

dt {
	float: left;
	clear: left;
	width: 17%;
	font-weight: bold;
}

dd {
	margin-left: 17%;
	margin-bottom: 7px;
}

table {
  width: 50%;
  margin: auto;
}

blockquote {
  text-align: center;
}

a {
  color: #222;
}

a:hover {
  color: #888;
}

img {
  opacity: 0.74;
  margin: 3px;
}

img:hover {
  opacity: 0.5;
}

img.github {
  content: url("https://user-images.githubusercontent.com/5255891/217673072-0fd952ed-dd51-44dc-935c-8151850e4a70.png");
  width: 31px;
  height: 31px;
}

img.researchgate {
  content: url("https://user-images.githubusercontent.com/5255891/217670697-dafc5f7c-1be9-4654-9b25-d6f156ddafdf.png");
  width: 31px;
  height: 31px;
}

img.googlescholar {
  content: url("https://user-images.githubusercontent.com/5255891/217672155-c26c0f4f-58eb-4d01-be29-2aad6eef758a.png");
  width: 31px;
  height: 31px;
}